@using System.Web.UI.WebControls
@using Hospital_Management_System.Models
@{
    ViewBag.Title = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href="~/Content/LP_css/Index.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Familjen Grotesk:wght@700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Yrsa:wght@400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Josefin Sans:wght@400&display=swap" />
</head>
<body>
    <div class="landing-page">
        <img class="aboutus-img-1-icon"
             alt=""
             src="~/Content/LP_css/public/aboutus-img-1@2x.png" />

        <b class="your-partner-in">YOUR PARTNER IN HEALTH</b>
        <b class="welcome-to">WELCOME TO</b>
        <b class="medicare">MEDICARE</b>
        <div class="landing-page-child" id="rectangle1"></div>
        <div class="show-me-more">Show me more</div>
        <div class="landing-page-item" data-scroll-to="rectangle"></div>
        <div class="to-provide-specialized">
            To provide specialized medical services and compassionate care through
            excellent clinical practice.
        </div>
        <div class="landing-page-inner"></div>
        <div class="medicare-is-a">
            MEDICARE is a medical clinic built and designed to serve Metro Manila’s
            largest and most populous city. Located along one of the main
            thoroughfares of Quezon City, Medicare takes a comprehensive yet
            collaborative approach to great patient care, ably supported by
            Board-certified doctors and highly-trained medical staff equipped with
            modern facilities and technologies. Medicare and its multi-disciplinary
            yet price-friendly approach to redefining the health experience across a
            broad market spectrum centers its efforts in creating great patient
            experience for all who seek treatment here.
        </div>
        <img class="safetyseal-1-icon"
             alt=""
             src="~/Content/LP_css/public/safetyseal-1@2x.png" />

        <b class="about-us">ABOUT US</b>
        <b class="services" data-scroll-to="sERVICESText">SERVICES</b>
        <b class="our-vision">OUR VISION</b>
        <b class="our-mission">OUR MISSION</b>
        <b class="who-we-are">WHO WE ARE</b>
        <div class="to-always-be">
            To always be a leader in shaping how Filipinos think, feel and behave
            about health and how health services are accessed by and delivered to
            them, and to use such leadership to serve equity in health, life and
            development.
        </div>
        <b class="facilities">FACILITIES</b>
        <img class="facility1-1-icon" alt="" src="~/Content/LP_css/public/facility1-1@2x.png" />

        <b class="ambulatory-surgical-centers">AMBULATORY SURGICAL CENTERS</b>
        <b class="imaging-and-radiology">IMAGING AND RADIOLOGY CENTERS</b>
        <b class="clinic-and-medical">CLINIC AND MEDICAL OFFICES</b>
        <img class="facility3-1-icon" alt="" src="~/Content/LP_css/public/facility3-1@2x.png" />

        <img class="atmosphere-12-00115-g001-1-icon"
             alt=""
             src="~/Content/LP_css/public/atmosphere1200115g001-1@2x.png" />

        <div class="dr-kathryn-bernardo">Dr. Kathryn Bernardo</div>
        <div class="andrea-brillantes">Andrea Brillantes</div>
        <div class="daniel-padilla">Daniel Padilla</div>
        <div class="medicare-clinic-has">
            MEDICARE CLINIC has transformed our clinic's operations. The intuitive
            interface and seamless integration have made patient management a
            breeze. It's a true asset to our efficiency.
        </div>
        <div class="div">“</div>
        <div class="div1">“</div>
        <div class="div2">“</div>
        <div class="kudos-to-clinical">
            "Kudos to CLINICAL ADMISSION AND RECORD SYSTEM! It's not just a tool;
            it's a partner in our mission to provide quality healthcare. Real-time
            updates and top-notch security have elevated our patient care."
        </div>
        <div class="the-easy-interface">
            “The easy interface and real-time updates make my job smoother. It's
            like having a reliable sidekick in patient care – efficient, secure, and
            always ready.”
        </div>
        <img class="ellipse-icon" alt="" src="~/Content/LP_css/public/ellipse-1@2x.png" />

        <img class="landing-page-child1" alt="" src="~/Content/LP_css/public/ellipse-2@2x.png" />

        <img class="landing-page-child2" alt="" src="~/Content/LP_css/public/ellipse-3@2x.png" />

        <div class="testimonials">TESTIMONIALS</div>
        <div class="rectangle-parent">
            <div class="group-child"></div>
            <img class="mask-group-icon" alt="" src="~/Content/LP_css/public/mask-group@2x.png" />

            <b class="medicare-clinic">
                <p class="clinic">MEDICARE</p>
                <p class="clinic">CLINIC</p>
            </b>
            <b class="connect-with-us">Connect with us:</b>
            <b class="privacy-policy">
                Privacy Policy | Terms of Service | © 2023 MEDICARE - All Rights
                Reserved
            </b>
            <b class="i-09326815192923" data-scroll-to="i09326815192923Text">323-7657-791 I 09326815192923</b>
            <b class="medicare123gmailcom">medicare123@gmail.com</b>
            <b class="maligaya-street-quezon">#123 maligaya street quezon city fairview</b>
            <img class="facebook-icon" alt="" src="~/Content/LP_css/public/facebook@2x.png" />

            <img class="instagram-icon" alt="" src="~/Content/LP_css/public/instagram@2x.png" />

            <img class="messenger-icon" alt="" src="~/Content/LP_css/public/messenger@2x.png" />

            <img class="mask-group-icon1"
                 alt=""
                 src="~/Content/LP_css/public/mask-group1@2x.png" />

            <img class="mask-group-icon2"
                 alt=""
                 src="~/Content/LP_css/public/mask-group2@2x.png" />

            <img class="medicare-logo-1-1"
                 alt=""
                 src="~/Content/LP_css/public/medicare-logo-1-1@2x.png" />
        </div>
        <div class="rectangle-div"></div>
        <div class="home">HOME</div>
        <img class="medicare-logo-1-2"
             alt=""
             src="~/Content/LP_css/public/medicare-logo-1-2@2x.png" />

        <div class="services1" id="sERVICESText1">SERVICES</div>
        <div class="about-us1" id="aBOUTUSText1">ABOUT US</div>
        <div class="contact" id="cONTACTText">CONTACT</div>
        @Html.ActionLink("REGISTER", "Register", "Account", null, new { @class = "register" })
        @Html.ActionLink("LOGIN", "Login", "Account", null, new { @class = "sign-in" })
        <div class="landing-page-child3"></div>
        <div class="our-orthopedic-specialists-are-container">
            <p class="clinic">Our orthopedic specialists</p>
            <p class="clinic">
                are trained in a variety of specialized fields, such as hand and
                wrist, foot and ankle and spine care.
            </p>
            <p class="clinic">
                Our diverse team treats common conditions, such as arthritis and back
                pain, as well as offering advanced treatment options, including joint
                replacement, spinal surgery and sports medicine.
            </p>
        </div>
        <b class="orthophedics">ORTHOPHEDICS</b>
        <div class="landing-page-child4"></div>
        <div class="the-medicare-cancer">
            The MEDICARE Cancer Network is accredited by the Commission on Cancer as
            an Integrated Network Cancer Program, and has network facilities
            accredited by the National Accreditation Program for Breast Cancer.
        </div>
        <b class="cancer-care">CANCER CARE</b>
        <div class="landing-page-child5"></div>
        <div class="medicare-is-here">
            Medicare is here to keep you moving forward and marching strong to the
            beat of your own drum with care, confidence, and support. From early
            prevention to advanced care and rehabilitation, our leaders in
            comprehensive heart care are all-in on keeping you strong and getting
            you back out there to live your journey the way it should be lived.
        </div>
        <b class="heart-and-vascular">HEART AND VASCULAR</b>
        <div class="landing-page-child6"></div>
        <img class="img-3-icon" alt="" src="~/Content/LP_css/public/img-3@2x.png" />

        <div class="experience-a-more">
            Experience a more convenient online appointment for both service
            providers and clients, Clients can book appointments from the comfort of
            their homes at any time, eliminating the need for phone calls or
            in-person visits.
        </div>
        <img class="img-1-icon" alt="" src="~/Content/LP_css/public/img-1@2x.png" />

        <img class="gen-info-page" alt="" src="~/Content/LP_css/public/gen-info-page@2x.png" />

        <img class="img-2-icon" alt="" src="~/Content/LP_css/public/img-2@2x.png" />

        <b class="at-medicare-we-container">
            <p class="clinic">
                At MEDICARE, we envision a healthier community, one patient at a time.
                Trust us to be your partner in health, providing reliable healthcare
                services, streamlined appointment processes, and cutting-edge
                facilities.
            </p>
            <p class="clinic">&nbsp;</p>
            <p class="your-journey-to">
                Your journey to optimal health begins here.
            </p>
        </b>
        <b class="appointment">APPOINTMENT</b>
        <img class="facility4-1-icon" alt="" src="~/Content/LP_css/public/facility4-1@2x.png" />
    </div>

    <script>
        var rectangle1 = document.getElementById("rectangle1");
        if (rectangle1) {
            rectangle1.addEventListener("click", function () {
                var anchor = document.querySelector("[data-scroll-to='sERVICESText']");
                if (anchor) {
                    anchor.scrollIntoView({ block: "start", behavior: "smooth" });
                }
            });
        }

        var sERVICESText1 = document.getElementById("sERVICESText1");
        if (sERVICESText1) {
            sERVICESText1.addEventListener("click", function () {
                var anchor = document.querySelector("[data-scroll-to='sERVICESText']");
                if (anchor) {
                    anchor.scrollIntoView({ block: "start", behavior: "smooth" });
                }
            });
        }

        var aBOUTUSText1 = document.getElementById("aBOUTUSText1");
        if (aBOUTUSText1) {
            aBOUTUSText1.addEventListener("click", function () {
                var anchor = document.querySelector("[data-scroll-to='rectangle']");
                if (anchor) {
                    anchor.scrollIntoView({ block: "start", behavior: "smooth" });
                }
            });
        }

        var cONTACTText = document.getElementById("cONTACTText");
        if (cONTACTText) {
            cONTACTText.addEventListener("click", function () {
                var anchor = document.querySelector(
                    "[data-scroll-to='i09326815192923Text']"
                );
                if (anchor) {
                    anchor.scrollIntoView({ block: "start", behavior: "smooth" });
                }
            });
        }

        var rEGISTERText = document.getElementById("rEGISTERText");
        if (rEGISTERText) {
            rEGISTERText.addEventListener("click", function (e) {
                // Please sync "REGISTER" to the project
            });
        }

        var sIGNINText = document.getElementById("sIGNINText");
        if (sIGNINText) {
            sIGNINText.addEventListener("click", function (e) {
                // Please sync "LOGIN" to the project
            });
        }
    </script>
</body>
</html>




